
.mywork{
    display: flex;
    flex-direction: column;
    margin: 100px 170px;
    align-items: center;
    
}
.work-container{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    gap: 50px;

}
.work-title{
    align-items: center;
    text-align: center;
    margin-bottom: 30px;

}
.work-title h1{
    font-size: 40px;
    font-weight: 700;
}

.workImg{
    width: 400px;
    border-radius: 10px;
    transition: 0.4s;
   
}
.workImg:hover{
    border: 2px solid white;
    
}
@media(max-width:868px){
    .mywork{
        margin: 100px 100px;
    }
    .work-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    
    }
    .workImg{
        width: 300px;
    }
}
@media(max-width:658px){
    .work-container{
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
    
    }
    .workImg{
        width: 100%;
    }

}


.programs{
    margin: 80px auto;
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-between;
}
.program img{
    width: 100%;
    border-radius: 10px;
    display: block;
   
}
.program{
    flex-basis: 31%;
    position: relative;
}
.mywork p{
    text-align: center;
    width: 70%;
}
.caption{
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background:rgba(0, 15, 152, 0.3) ;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    cursor: pointer;
    opacity: 0;
    padding-top: 70%;
    transition: 0.4s;
}
.caption img {
    width: 80px;
    margin: 10px;
}
.program:hover .caption{
    opacity: 1;
    padding-top: 0;
    
}
@media (max-width: 650px){
    .programs{
        flex-direction: column;
    }
    .program{
        flex-basis: 100%;
        margin: 20px;
    }
}